Django==5.2.13
djangorestframework==3.17.1
psycopg2-binary==2.9.3
django-cors-headers==4.9.0
gunicorn==25.3.0
redis==7.4.0
django-redis==6.0.0
razorpay==1.4.2
sentry-sdk==2.19.2
django-axes==7.0.1
xhtml2pdf==0.2.17
